<%= form_with(model: travel_tour, class: "contents") do |form| %>
  <% if travel_tour.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(travel_tour.errors.count, "error") %> prohibited this travel_tour from being saved:</h2>

      <ul class="list-disc ml-6">
        <% travel_tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:name].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:description].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:price].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:price].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:duration].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:duration].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.text_field :category, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:category].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:category].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :featured %>
    <%= form.checkbox :featured, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:featured].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:featured].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :highlights %>
    <%= form.textarea :highlights, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:highlights].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:highlights].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :includes %>
    <%= form.textarea :includes, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": travel_tour.errors[:includes].none?, "border-red-400 focus:outline-red-600": travel_tour.errors[:includes].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
