<div id="<%= dom_id ctum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= ctum.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= ctum.subtitle %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Button text:</strong>
    <%= ctum.button_text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Button url:</strong>
    <%= ctum.button_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Background color:</strong>
    <%= ctum.background_color %>
  </div>
</div>
