<div id="<%= dom_id testimonial %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Author name:</strong>
    <%= testimonial.author_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author title:</strong>
    <%= testimonial.author_title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= testimonial.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= testimonial.rating %>
  </div>
</div>
